/* nav{
    margin-left: -100%;
}
body:hover nav{
    margin-left: 0;
    transition-duration: 1s;
} 

counters(cont, "separador"): contador anidado

*/
@media screen and (min-width: 600px){
    section{
        background-color: gainsboro;
    }
    section{
        width: 48.5%;
    }
    img{
        width: auto;
    }
}
@media screen and (min-width: 1200px){
    footer{
        border-color: darkgreen;
        background-color: lawngreen;
        box-shadow: .8rem .8rem 1rem darkgreen;
    }
    footer h2{
        
        text-shadow: .1rem .1rem green;
    }
    h2:after{
        content: " "attr(data-email)" ";
    }
    
}
div{
    counter-reset: csection;
}
div section{
    counter-reset: cp cabbr;
    counter-increment: csection;
}
div p:after{
    counter-increment: cp;
    content: " ("counter(csection)"."counter(cp)")";
}
div abbr:before{
    counter-increment: cabbr;
    content: "("counter(cabbr)")";
}
